h2.text{
    text-align: center;
}

div.pad{
    border: 1px solid black;
    background-color: lightblue;

    /*Padding - Shorthand Property*/
    padding: 25px 50px 75px 100px;

    /*padding-top: 50px;*/
    /*padding-right: 30px;*/
    /*padding-bottom: 50px;*/
    /*padding-left: 80px;*/
}

div.t-value{
    border: 1px solid black;
    padding: 25px 50px 75px;
    background-color: lightblue;
}

div.two-value{
    border: 1px solid black;
    padding: 25px 50px;
    background-color: lightblue;
}

div.one-value{
    border: 1px solid black;
    padding: 25px;
    background-color: lightblue;
}

div.ex1 {
    width: 300px;
    background-color: yellow;
}

div.ex2 {
    width: 300px;
    padding: 25px;
    background-color: lightblue;
}

div.ex2-or {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    background-color: lightblue;
}

div.demonstrating-box {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

div.img-wid {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.out {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

outline
p {outline-color:black;}

p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}
p.none {outline-style: none;}
p.hidden {outline-style: hidden;}

p.ex11 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}

p.ex12 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
}

p.ex13 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
}

p.ex14 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
}